@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
	font-family: Roboto, sans;
}

.ocultar-button {
	visibility: hidden;
}

.righteous {
	font-family: 'Righteous', cursive;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-gradient {
	background: rgb(255, 242, 91);
	background: linear-gradient(90deg, rgb(250, 235, 70) 0%, rgba(255, 215, 35, 1) 48%, rgba(255, 164, 51, 1) 100%);
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

progress {
	height: 5px;
	width: 100%;
	overflow: hidden;
	border-radius: 50px;
}

progress::-webkit-progress-bar {
	background-color: rgba(181, 118, 118, 0.2);
	border-radius: 50px;
}

progress::-webkit-progress-value {
	border-radius: 50px;
	background-color: var(--progress-bar-color)
}


.normal {
	background-color: #A8A878;
	color: #A8A878;
}

.fire {
	background-color: #f06630;
	color: #f06630;
}

.water {
	background-color: #6890F0;
	color: #6890F0;
}

.grass {
	background-color: #64D368;
	color: #64D368;
}

.electric {
	background-color: #FFD723;
	color: #FFD723;
}

.ice {
	background-color: #98D8D8;
	color: #98D8D8;
}

.ground {
	background-color: #E0C068;
	color: #E0C068;
}

.flying {
	background-color: #A890F0;
	color: #A890F0;
}

.poison {
	background-color: #A040A0;
	color: #A040A0;
}

.fighting {
	background-color: #C03028;
	color: #C03028;
}

.psychic {
	background-color: #F85888;
	color: #F85888;
}

.dark {
	background-color: #705848;
	color: #705848;
}

.rock {
	background-color: #B8A038;
	color: #B8A038;
}

.bug {
	background-color: #A8B820;
	color: #A8B820;
}

.ghost {
	background-color: #705898;
	color: #705898;
}

.steel {
	background-color: #B8B8D0;
	color: #B8B8D0;
}

.dragon {
	background-color: #7038F8;
	color: #7038F8;
}

.fairy {
	background-color: #FFAEC9;
	color: #FFAEC9;
}

.roxo {
	background-color: #6C7ADC;
	color: #6C7ADC;
}